{% extends 'base1.html' %}
{% block content %}
{% load subtract %}

<DOCTYPE html>
  <html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
  </head>

  <body>

    <div class="container mt-1">
      <div class="card shadow ">
        <div class="card-body">

          <table class="table table-primary text-center table-bordered ">
            <thead>
              <tr>

                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Size</th>
                <th scope="col">Date</th>

                <th scope="col">Sold</th>
                <th scope="col">Left</th>

                <th scope="col">Actions</th>
                <!-- <th scope="col">Test</th> -->

              </tr>
            </thead>
            <tbody>
              {% for neww in all %}
              <tr>

                <td>{{ neww.product_name }}</td>
                <td><input type="text" id="qty" class="total" size="1" value="{{ neww.quantity }}"></td>
                <td>{{ neww.size }}</td>
                <td>{{ neww.date }}</td>


                <td>
                  <div class="letsdoit">
                    <form action="{% url 'update_item' neww.id %}">

                      <button class="minus-btn" type="button" name="button">-</button>
                      <input type="text" size="1" value="{{neww.sold}}" class="sold">
                      <button class="plus-btn" type="button" name="button">+</button>
                      <input type="submit" value="Update">

                    </form>
                  </div>
                </td>

                <td><input type="text" size="1" class="left" value="{{neww.left}}"></td>


                <td>
                  <a href="{% url 'update_item' neww.id %}" class="btn btn-warning btn-sm">Edit</a>
                  <form action="{% url 'delete_item' neww.id %}" method="POST" class="d-inline"> {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">

                  </form>
                </td>
                <!-- <td>{{neww.quantity|subtract:neww.sold}}</td> -->

              </tr>
              {% endfor %}
            </tbody>



          </table>
        </div>
      </div>
    </div>

    <script>
      const t = document.querySelectorAll(".total");
      const mbutton = document.querySelectorAll(".minus-btn");
      const pbutton = document.querySelectorAll(".plus-btn");
      const s = document.querySelectorAll(".sold");
      const l = document.querySelectorAll(".left");

      for (let i = 0; i < mbutton.length; i++) {
        mbutton[i].addEventListener('click', function minusProduct(e) {
          if (s[i].value == 0) {
            l[i].value = t[i].value;
            mbutton.disabled = true;
          } else
            s[i].value--;
          l[i].value++;
          localStorage.setItem("textvalue", s[i].value);
          localStorage.setItem("lvalue", l[i].value);
          e.preventDefault();
        });
      }
      for (let i = 0; i < pbutton.length; i++) {
        pbutton[i].addEventListener('click', function plusProduct(e) {
          if (t[i].value == s[i].value) {
            pbutton.disabled = true;
          } else
            s[i].value++;
          l[i].value = parseInt(t[i].value - s[i].value);
          localStorage.setItem("textvalue", s[i].value);
          localStorage.setItem("lvalue", l[i].value);
          e.preventDefault();
        });
      }

    </script>

  </body>

  </html>
  {% endblock %}