{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        a {
            text-decoration: none;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6 col-lg-6">


                <div class="card mt-2" style="width: 30rem;">

                    <div class="card-header">
                        <h2>Sign Up</h2>
                    </div>
                    <div class="card-body">
                        
                        <form method="POST" novalidate>
                            {{ form.username }}<br>
                            {{ form.first_name }}<br>
                            {{ form.last_name }}<br>
                            {{ form.email }}<br>
                            {{ form.password1 }}<br>
                            {{ form.password2}}<br>
                        
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <p class="err">{{error}}</p>
                            {% endfor %}
                            {% endif %}

                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary mb-2" type="submit">Register</button>
                            </div>
                        </form>
                    
                    </div>
                </div>


            </div>
        </div>
        <div class="row justify-content-center me-5">
            <a href="{% url 'account:login' %}">Login if already have an account</a>
        </div>
        {% if messages %}
        {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>
            {{message}}
        </small>
        {% endfor %}
        {% endif %}


    </div>
</body>

</html>

{% endblock %}