{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <style>
    #pid {
      color:white;
      font-size: small;
    }
    
  </style>
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">
              <h1>Raj Collection</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light  mt-3" aria-current="page" href="{% url 'additem' %}">Add Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light  mt-3" aria-current="page" href="{% url 'itemlist' %}">List Your
              Items</a>
          </li>

        </ul>
        <form class="d-flex" method="POST" action="{% url 'search_result' %}">
          {% csrf_token %}
          <input type="search" class="form-control me-2" placeholder="Search Item" aria-label="Search" name="searched">
          <button class="btn btn-outline-dark " type="submit">Search</button>
        </form>
        
        {% if request.user.is_authenticated %}
        
        
        <p id="pid" class="ms-2 mt-3">Hello {{request.user.first_name}}</p>
        <a href="{% url 'account:ulogout' %}" class="btn btn-dark ms-2 btn-sm">Log Out</a>
        
        {% else %}
        <a href="{% url 'account:login' %}" class="btn btn-light ms-2">Log In</a>
        <a href="{% url 'account:register' %}" class="btn btn-success ms-2">Sign Up</a>
        {% endif %}
        
      </div>
    </div>
  </nav>

</header>

</html>


{% block content %}
{% endblock %}